<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uk.co.jakelee.blacksmithslots">

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <meta-data
            android:name="DATABASE"
            android:value="blacksmithslots.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="uk.co.jakelee.blacksmithslots.model" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data android:name="applovin.sdk.key"
            android:value="d8B0h7p58eRdbK8r8r6cntx7TDbAl2WMBiNtqAyypOaPikFsTLSKCNSgb3rL5MiG347uE4r2SPSA7h0g1S_ErR"  />

        <activity
            android:name=".main.SplashScreenActivity"
            android:theme="@style/AppTheme.Splash"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.SlotActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".main.CreditsActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".main.MapActivity"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".main.SettingsActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.StatisticsActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.VipComparisonActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.LogActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.InventoryActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.MinigameFlipActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.MinigameChestActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.MinigameDiceActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.ShopActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.InterstitialActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.SlotDialogActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.SlotChancesActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.CloudSaveActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.Dimmed" />
    </application>

</manifest>