<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.jakelee.blacksmithslots">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="blacksmithslots.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="false" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="uk.co.jakelee.blacksmithslots.model" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name=".main.SplashScreenActivity"
            android:theme="@style/AppTheme.Splash"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.SlotActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".main.CreditsActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".main.MapActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".main.SettingsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Dimmed" />
        <activity android:name=".main.StatisticsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Dimmed" />
        <activity
            android:name=".main.LogActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Dimmed" />
    </application>

</manifest>